<br>
<h2 class="display-4 text-center">Bonjour <%= params[:id] %></h2>
<p class="lead text-center">
  Bienvenue sur ta page, ici tu pourras retrouver tous tes potins et les retoucher si tu en a l'envie.
</p>
<hr width="75%" color="grey">

<br>
<div class="text-center"><%= link_to "Retour à la page principal", root_path, :class => "btn btn-secondary btn-sm link"%></div>
